

		<!-- KAŽDÝ ŘÁDEK SE VKLÁDÁ DO ROW -->
		<div class="row" style="margin:auto;width: 700px;text-align:center;">

			<!-- DVA SLOUPCE -->
			<div id="bacic_contacts" class="col-sm-5">
				<h5 id="contacts">Bydliště:</h5>
				</br>
				<span class="glyphicon glyphicon-home"></span>
				<span id="display">Hekova 114/6</span>
				<span style="padding-left:20px;margin-bottom:20px;">163 00 Praha 6 - Řepy</span>
				<h5 style="text-align:center;font-weight:bold">Kontaktní údaje</h5>
				<span class="glyphicon glyphicon-phone"></span>
				<span style="display:inline-block">&nbsp;(+420) 734 300 346</span></br>
				<span style="display:inline-block" class="glyphicon glyphicon-envelope"></span>
				<span style="display:inline-block;">&nbsp;j.sindelar01@gmail.com</span></br>
				<span style="display:inline-block"><img width="25px" src="/images/datovka.png" alt="Datová schránka ico"></span>
				<span style="display:inline-block;">&nbsp; ek3gdd4</span>
				<span style="text-align:center;padding-bottom:20px;padding-top:10px;"><a href="/images/personal.svg" data-lightbox="image-1" data-title="Osobní vCard vizitka"><img width="50px" height="50px"  src="/images/personal.svg" alt="Osobní vCard vizitka"></a></span>

			</div>

				<div id="bacic_contacts" class="col-sm-5">
						<h5 id="contacts">Práce:</h5>
					<span>
						<a href="<%= "http://profi-technika.cz" %>">Profi-Technika.cz</a>
					</span>
					<span>Kutnohorská 129/28</span>
					<span style="margin-bottom:20px;">109 00 Praha 10 - Dolní Měcholupy</span>
					<h5 style="text-align:center;font-weight:bold">Kontaktní informace</h5>
						<span class="glyphicon glyphicon-phone"></span>
					<span style="display:inline-block">&nbsp;(+420) 724 148 107</span></br>
					<span style="display:inline-block" class="glyphicon glyphicon-envelope"></span>
					<span style="display:inline-block;">objednavky@profi-technika.cz</span></br>
					<span style="display:inline-block" class="glyphicon glyphicon-envelope"></span>
					<span style="display:inline-block;">&nbsp;info@profi-technika.cz</span>
				<span style="text-align:center;padding-bottom:20px;padding-top:10px;"><a href="/images/company.svg" data-lightbox="image-2" data-title="Pracovní vCard vizitka"><img width="50px" height="50px"  src="/images/company.svg" alt="Pracovní vCard vizitka"></a></span>

				</div>
		</div>
<div class="row" style="margin:auto;width: 720px;text-align:center;padding-left:20px">
<div id="bacic_contacts" class="col-sm-10">
	<h2  class="" style="text-align:center;padding-bottom:15px;">Ostatní kontakty</h2>
	<div style="margin:0 auto;width:605px">

<div style="float:left;width:200px;">
	<span style="padding-bottom: 5px;display:inline-block"><img width="35px" src="/images/fb.png" alt="Facebook"></span>
	<span style="padding-bottom: 5px;display:inline-block"><a href="https://www.facebook.com/fanatikcz">FanatikCZ</a></span>
	</br>
	<span style="padding-bottom: 5px;display:inline-block"><img width="35px" src="/images/twitter.png" alt="Twitter"></span>
	<span style="padding-bottom: 5px;display:inline-block"><a href="https://twitter.com/fanatik_cz">Fanatik_CZ</a></span>
</div>

<div style="float:left;width:200px;">
<span style="padding-bottom: 5px;;display:inline-block"><img width="35px" src="/images/gplus.png" alt="Google Plus"></span>
<span style="padding-bottom: 5px;display:inline-block"><a href="https://plus.google.com/+JakubŠindelář_CZ/">JakubŠindelář_CZ</a></span>

</br>

<span style="padding-bottom: 5px;;display:inline-block"><img width="35px" src="/images/swarm.png" alt="Swarm (Foursquare)"></span>
<span style="padding-bottom: 5px;display:inline-block"><a href="https://foursquare.com/fanatik_cz">Fanatik_CZ</a></span>
</div>

<div style="float:left;width:200px;padding-bottom:15px;">
<span style="padding-bottom: 5px;;display:inline-block"><img width="35px" src="/images/instagram.png" alt="Instagram"></span>
<span style="padding-bottom: 5px;display:inline-block"><a href="https://www.instagram.com/fanatik_cz/">Fanatik_CZ</a></span>

</br>

<span style="padding-bottom: 5px;;display:inline-block"><img width="35px" src="/images/github.png" alt="GitHub"></span>
<span style="padding-bottom: 5px;display:inline-block"><a href="https://github.com/jakubsindelar/">JakubSindelar</a></span>
</div>


</div>
	</div>

</div>

</div>
