<div class="row" style="margin:auto;width: 700px;text-align:center;">

	<div class="row" style="margin:auto;width: 720px;text-align:center;padding-left:20px">
			<div class="col-sm-10" style="text-align:center;">
				<span style="display:inline-block">Všechna práva vyhrazena</span>
				<span style="display:inline-block">&copy; <a href="http://jsindelar.cz/">Jakub Šindelář</a></span>
				<span style="display:inline-block">verze webu: 2.2.1</span>
			</div>
	</div>

</div>



