<!--<section id="colorlib-hero" class="js-fullheight" data-section="home">-->
  <%#= erb :home %>
<!--</section>-->

<section class="colorlib-about" data-section="about">
  <%= erb :about %>
</section>
