

		<!-- KAŽDÝ ŘÁDEK SE VKLÁDÁ DO ROW -->
		<div class="row" style="margin:auto;width: 700px;text-align:center;">

			<!-- DVA SLOUPCE -->
			<div id="bacic_contacts" class="col-sm-10" style="margin-left:25px;text-align:center">
<a href="http://videnohmatem.braillnet.cz/"><h3>Viděno hmatem</h3>
<p>
	<img src="/images/vh.jpeg" width="80px"></a>
</p>

<a href="http://profi-technika.cz/"><h3>Profi-technika.cz</h3>
<p>
<img src="/images/pt-logo.png" width="80px"></a>
</p>

							</div>
	</div>


